.main {
    /* flex:1 - определяющее способность гибкого элемента растягиваться или сжиматься для заполнения собой доступного свободного пространства, эквивалентно flex-grow: 1; flex-shrink: 1; flex-basis: 0; 
    Займи свободное пространство между footer и header, т.е.прибиваем footer книзу*/
    flex: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}