.page {
    /* 100vh соответствует полной высоте вьюпорта (окна браузера/видимой части документа). 1vh = 1% высоты вьюпорта. */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-main-color);
}